<div class="title">
<h2><%= image_tag "icons8-numbered-list-64.png", size: '30x24' %> Watchlist</h2>

<div class="list">
<% @medias.each do |media| %>
<h4><%= link_to "#{media.title}", media_path(media)  %></h4>
<%= media.description %>
<% end %>
</div>

</div>



